/*
Juan Del Lantonia
*/

body{
  min-height: 100vh; /* Asegura que el cuerpo se expanda al menos hasta el alto de la ventana */
  position: relative;
}

.form-cont {
  max-width: 500px;
  margin: 0 auto;
  background-color: #575757;
  padding: 5%;
  border-radius: 37px;
  text-align: center;
}

.h1-abm {
  text-align: center;
  color: #f0f0f0;
}

.muestra-usuarios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin:20px;
    margin-bottom: 20px;
}

.itemH{
    background-color: #00ffbf;
    padding:  10px 40px;
    text-align: center;
  }  

  .itemD {
    background-color: #f0f0f0;
    padding: 20px;
    
    text-align: center;
  }

  .botonesamb {
    padding: 10px 40px;
    background-color: #00ffbf;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }

.col-12 {
  display: flex;
  gap: 1px;
}

.boton-lista {   
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

  .botoncarga {
    padding: 10px 30px;
    background-color: #00ffbf;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:20px;
  }
  
  .botoncarga:hover {
    background-color: #0056b3;
  }
  body {
    background-color: black;
    color: #f0f0f0;
  }
  /* footer */

  #pie {
    background-color: black;
    color: #0074A0;
    text-align: center;
    padding: 20px 0;
    position: fixed;
}

#pie .items a {
    color: #0074A0;
    margin: 0 10px;
}

#pie .items a:hover {
    color: #0074A0;
}

.error{
  background-color: red;
}