.FormAmbUsuarios{
    margin-top: 6%;
    padding-bottom: 7%;
  }
  
.abm_nombre, .abm_apellido, .abm_plan, .abm_mail, .abm_rutina, .abm_tipo{
    margin-bottom: 3%;
  }
  
.formulario-input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
  }
.formulario-select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
  }
  
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.abm-correcto .abm-estado {
	color: #1ed12d;
	opacity: 1;
}
.abm-incorrecto .abm-label {
	color: #bb2929;
}