/*       
Emir Sarasola
Juan Del Lantonia
Marcelo Cabrera 
*/

/*Ingreso*/
body{
    background-color: #283747;
    margin: 0%;
    padding: 0%;
}

h2{
    margin: 7%;
    font-style: oblique;
}

.tituloInicio{
    align-items: center;
    text-align: center;
    background-color: #0074A0;
    font-style: oblique;
    color: black;
    box-sizing: border-box;
    width: 246px;
    height: 58px;
    margin: auto;
    border: 4px outset black;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.1);
}

.Titulo2Ingreso{
  color: black;
}

.ingresoUsuario{
  color: black;
}

.BotonIngreso{
    margin: 8%;
    background-color: #0074A0;
    border-radius: 15px;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.1);
}

.form-group{
    margin: 5%;
}

.label-chiquitas{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-style: oblique;
}

.LinkMenuUsuario{
  text-align: center;
  margin: 2%;
  color: #0074A0;
}

.img-fluid{
    width: 230px;
    height: 230px;
  }
  
.letras-blancas{
    color: white;
}

/*footer*/

#pie{
  height: 50px;
  line-height: 50px;
  background: rgb(0, 0, 0);
  color: #0074A0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.items{
  float: right;
  display: inline;
  color: #0074A0;

}

#contenido {
  padding-bottom:50px;
}

html, body {
  margin:0;
  padding:0;

}

.pieIngreso{
  height:50px;
  line-height:50px;
  background:rgb(0, 0, 0);
  color:#0074A0;
  text-align:center;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  margin-bottom: 0%;
}

.logo{
  display: inline-flex;
  float:left;
}

.TablaUsuario{
  border-style: outset;
  border: 5px solid;
}
