/*Ingreso*/
body{
    background-color: black;
}

h2{
    margin: 7%;
    font-style: oblique;
}

.ingresos{
    border: 5px outset black;
    background-color: white;
    font-style: oblique;
}

.BotonIngreso{
    margin: 8%;
}

.form-group{
    margin: 5%;
}

.label-chiquitas{
    font-size: 20px;
    color: white;
    font-style: oblique;
}

.TablaUsuario{
    border-style: outset;
    border: 5px solid;
}

/*Juan, ambUsuarios*/


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin:20px;
    margin-bottom: 20px;
  }
  
  .item {
    background-color: #f0f0f0;
    padding: 20px;
    
    text-align: center;
  }
  
  .botones {
    display: flex;
    justify-content: space-between;
    margin:20px;
  }
  
  button {
    padding: 10px 50px;
    background-color: #00ffbf;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
 
 
  /*Actividades*/

  .Rutina1Dia{
    margin: 2%;
    padding: 2%;
    border: 5px outset white;
    background-color: black;
    color: red;
  }

  .Rutina2Dia{
    margin: 2%;
    padding: 2%;
    border: 5px outset white;
    background-color: black;
    color: red
  }

  .Rutina3Dia{
    margin: 2%;
    padding: 2%;
    border: 5px outset white;
    background-color: black;
    color: red;
  }


  .RUTINAS{
    display: inline-flexbox;
    border: 5px outset white;
    background-color: white;
    align-items: center;
    text-align: center;
  }

  .RUTINAS li{
    list-style: none;
  }

  .img-fluid{
    width: 230px;
    height: 230px;
  }
  
  .CARDS{
    display:inline-flex;
    margin: 50px;
    align-content: center;
  }
  
  .letras-blancas{
    color: white;
  }

  /*home*/

.principal{
  text-align: center;
  margin: 2%;
  padding: 2%;
}

#pie {
  height:50px;
  line-height:50px;
  background:white;
  color:black;
  text-align:center;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
}

#contenido {
  padding-bottom:50px;
  display:inline-flex;
  float: left; 
}

#pagina {
  position: relative;
  min-height: 100%;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}




